<!DOCTYPE HTML>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
    {{>header}}
    <h4>App Navigation</h4>
        <ul>
            <li>On Weather page, provide location name you want to search and hit Submit to get weather details for corresponding location</li>
            <br>
            <li>To know more about this app, please check the About page</li>
            <br>
            <li>For app issues, check below</li>
        </ul>
    <p>Unable to fetch weather data? Try as follows - </p>
    <ul>
        <li>Check your network connection and try again</li>
        <br>
        <li>Try searching a valid location name</li>
        <br>
        <li>Still not working? Something might be wrong from our end, Please try again after sometime</li>
    </ul>
    </div>

    {{>footer}}
</body>

</html>