<!DOCTYPE HTML>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
    {{>header}}
    <p>Unable to fetch weather data? Check below - </p>
    <ul>
        <li>Check your network connection and try again</li>
        <br>
        <li>Try searching a valid location name</li>
        <br>
        <li>Still application is not responding? Please try again after sometime</li>
    </ul>
    </div>

    {{>footer}}
</body>

</html>